* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

.dashboard-sindico {
  padding-top: 150px;
  /* border: 10px solid red; */
  display: flex;
  justify-content: space-evenly;
}

.dashboard-sindico-box-1 {
  padding: 70px 0;
  background-color: #8481E2;
  text-align: center;
  border-radius: 10px;
  width: 300px;
}

.color-ancor {
  color: white;
  font-weight: bold;
}

.dashboard-sindico-box-2 {
  padding: 70px 0;
  background-color: #52C41A;
  text-align: center;
  border-radius: 10px;
  width: 300px;
}

.dashboard-sindico-box-3 {
  padding: 70px 0;
  background-color: #FFC144;
  text-align: center;
  border-radius: 10px;
  width: 300px;
} 

.login-box {
  padding-top: 200px;
  display: flex;
  justify-content: space-evenly;
}

.login-text {
  width: 300px;
}

.login-form {
  padding-top: 10px;
}

h1 {
  text-align: center;
  font-weight: bold;
  padding-top: 50px;
}

.register-form {
  display: flex;
  justify-content: center;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}